<div class="card">
    <div class="card__body">
        <div class="card__top">
            <div class="card__message">
                <p>Bonjour</p>
                <p>J'ai un probleme</p>
                <p>J'ai un probleme</p>
                <p>J'ai un probleme</p>
                <p>J'ai un probleme</p>
                <p>J'ai un probleme</p>
                <p>J'ai un probleme</p>
                <p>J'ai un probleme</p>
                <p>J'ai un probleme</p>
                <p>J'ai un probleme</p>
                <p>J'ai un probleme</p>
                <p>J'ai un probleme</p>
                <p>J'ai un probleme</p>
                <p>J'ai un probleme</p>
                <p>J'ai un probleme</p>
            </div>
        </div>
        <div class="card__bottom">
            <div class="chat">
                <input type="text" name="" id="" placeholder="Entrez votre message">
            </div>
            <div class="sendBtn">
                <button>Send</button>
            </div>
        </div>
    </div>
</div>
