<form class="form">
    <div class="form__group">
        <p class="label">
            Email
        </p>
        <input type="email">
    </div>    
    <div class="form__group">
        <p class="label">
            Service
        </p>
        <select>
            <option value="Location">Location</option>
            <option value="SAV">SAV</option>
            <option value="Assistance">Assistance</option>
        </select>
    </div>  
    <div class="form__group">
        <p class="label">
            Message
        </p>
        <textarea name="" id="" cols="30" rows="10" placeholder="Entrez votre message"></textarea>
    </div>
    <div class="form__btn">
        <button>Envoyer</button>

    </div>
</form>
