<div class="header">
    <div class="left">
        <div class="left__logo">
            <img src="../../../assets/img/logo.png" alt="logo">
        </div>
    </div>
    <div class="right">
        <div class="right__info">
            <div class="info__login">
                <p>Identifiant</p>
            </div>
            <div class="info__lang">
                <img class="flag" src="../../../assets/img/french.png" alt="drapeau">
                <p>FR</p>
            </div>
            <div class="info__menu">
                <img src="../../../assets/img/menu.png" alt="menu">
                <p>menu</p>
            </div>
        </div>
    </div>
</div>
